# Enable Bzlmod for every Bazel command
common --enable_bzlmod
common --enable_platform_specific_config
common --registry="https://raw.githubusercontent.com/naerbnic/sci-bazel-registry/main"
common --registry="https://bcr.bazel.build"

build:windows --copt /std:c++20 --host_copt /std:c++20
build:macos --copt --std=c++20 --host_copt --std=c++20
build:linux --copt --std=c++20 --host_copt --std=c++20